* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "loos-normal";
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

header {
    position: absolute;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    opacity: 0.9;
    & nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        & div {
            margin: 0 20px;
        }
        & img {
            display: block;
            width: 200px;
        }
        & a {
            margin: auto 20px;
            color: rgb(0, 0, 0);
            &:hover {
                color: orange;
            }
        }
        & .select {
            color: orange;
        }
    }
}

main section {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 140dvh;
    opacity: 0.9;
    background-image: url(images/house-1477041_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    & form {
        background-color: rgb(237, 237, 237);
        margin-top: 10%;
        padding: 5% 8%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        & h1 {
            color: rgb(0, 0, 0);
            font-size: 2rem;
        }
        
        & input {
            padding: 10px;
            
        }
        
        & textarea {
            padding: 10px;
            height: 200px;
            resize: vertical;
        }

        & .inputs {
            outline: none;
            border: 2px solid black;
            transition: border 0.3s;
            width: 400px;
            font-size: 1.1rem;
            &:focus {
                border: 2px solid orange;
            }
            &::placeholder {
                font-size: 1.1rem;
            }
        }
        
        & button {
            padding: 10px;
            width: 150px;
            margin: auto;
            background-color: rgb(0, 0, 0);
            color: white;
            border: none;
            cursor: pointer;
            font-size: 1.3rem;
            &:hover {
                background-color: orange;
            }
        }

    }
}