* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "loos-normal";
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

header {
    position: absolute;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    opacity: 0.9;
    & nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        & div {
            margin: 0 20px;
        }
        & img {
            display: block;
            width: 200px;
        }
        & a {
            margin: auto 20px;
            color: rgb(0, 0, 0);
            &:hover {
                color: orange;
            }
        }
        & .select {
            color: orange;
        }
    }
}

main .first {
    display: flex;
    
    justify-content: center;
    align-items: center;
    background-image: url(images/house-1477041_640.jpg);
    height: 100dvh;
    
    
    background-repeat: no-repeat;
    background-size: cover; 

    h1 {
        background-color: white;
        opacity: 1;
        padding: 2%;
    }
}

main .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /** REMOVE h2, ONLY DO a WITH BACKGROUND IMAGE. USE FLEX-GROW TO TAKE UP SPACE ONCE DONE. CAN REMOVE DIV ELEMENTS TOO*/
    & div {
        width: max(400px, 45%);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        
        &:hover {
            & img {
                filter:brightness(0.5);
            }
            & h2 {
                opacity: 1;
                
            }
        }
    }

    & a {
        min-width: fit-content;
    }
    
    & img {
        width: 100%;
        display: block;
        object-fit: cover;
        transition: filter 0.5s;
    }

    & h2 {
        color: white;
        text-align: center;
        z-index: 3;
        position: absolute;
        opacity: 0;
        transition: opacity 0.5s;
    }
}